<h1>Upload Target</h1>
<br/>
<br/>
<%= form_for [current_user, @target], html: { multipart: true } do |f| %>
  <div class="annie-target-form">
    <%= image_tag 'upload_logo.png', width: '50px', class: 'js-uploadIcon' %>
    <br/>
    <br/>
      <%= f.file_field :image, style: 'display: none', class: 'js-uploadField', required: true %>

    <div class="form-group">
      <%= f.text_field :gun_range_id, placeholder: 'select location', class: "form-control js-gunRangeField", required: true %>
    </div>

    <%= f.text_field :gun_id, placeholder: 'select gun', class: "form-control js-gunField", required: true %>
    <br/>
  </div>


  <%= f.submit %>
<% end %>

<script type="text/javascript">
  $( function() {
    // function log( message ) {
      // $( ".js-rangeField" ).text( message ).prependTo( "#log" );
      // $( "#log" ).scrollTop( 0 );
    // }
    //
    $('.js-uploadIcon').click(function(e) {
      $('.js-uploadField').click();
    })

    $(".js-gunField").autocomplete({
      source: function(request, response) {
        $.ajax( {
          url: "/api/guns",
          dataType: "json",
          data: {
            term: request.term
          },
          success: function( data ) {
            response(data['guns']);
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        console.log( "Selected: " + ui.item.value + " aka " + ui.item.id );
      }
    });

    $(".js-gunRangeField").autocomplete({
      source: function(request, response) {
        $.ajax( {
          url: "/api/gun_ranges",
          dataType: "json",
          data: {
            term: request.term
          },
          success: function( data ) {
            response(data['gun_ranges']);
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        console.log( "Selected: " + ui.item.value + " aka " + ui.item.id );
      }
    });
  } );
</script>
