<h1>Upload Target</h1>

<%= form_for [current_user, @target], html: { multipart: true } do |f| %>
  <%= f.file_field :image %>

  <br/>
  <br/>
  <label>Range</label>
  <%= f.text_field :range_id %>
  <br/>
  <label>Gun</label>
  <%= f.text_field :gun_id %>
  <br/>


  <%= f.submit %>
<% end %>
