<!DOCTYPE html>
<html>
  <head>
    <title>Annie</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Smokum" rel="stylesheet">
  </head>

  <body>
    <div class="container annie_<%= controller.controller_name + '_' + controller.action_name%>">
      <%= yield %>
      <% if user_signed_in? %>
        <nav class="navbar fixed-bottom navbar-light bg-faded annie-navbar">
          <a class="navbar-link" href="/feed"><%= image_tag 'feed_logo.png', class: "img-fluid" %></a>
          <a class="navbar-link" href="/gun_ranges"><%= image_tag 'globe_logo.png' %></a>
          <%= link_to image_tag('target_logo.png'), new_user_target_path(current_user), class: "navbar-link" %>
          <%= link_to image_tag('user_profile_icon.png'), user_path(current_user), class: "navbar-link" %>
          <a class="navbar-link" href="/more"><%= image_tag('more_logo.png') %></a>
        </nav>
      <% end %>
    </div>
  </body>
</html>
